@import "fonts.css";
@import "card.css";
@import "navigation.css";
@import "variables.css";
@import "images.css";
@import "splash-main.css";
@import "content.css";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

html {
    height: 100%;
    color-scheme: light dark;
}

html[data-user-color-scheme="light"] {
    color-scheme: light
}

html[data-user-color-scheme="dark"] {
    color-scheme: dark
}

body {
  width: 100%;
  min-height: 100%;
  padding: clamp(.5rem, 3vw, 2rem);
  font-family: 'QuattrocentoSans', sans-serif;
  font-size: var(--fs-base);
  color: var(--dark);
  background-color: var(--light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

hr {
  height: var(--border-width);
  border:none;
  background-color: var(--dark);
}

i {
  font-style: italic;
}

/* 
  Font Sizes
*/
h1 {
  font-size: var(--fs-title);
  text-indent: -0.1em;
}

h2 {
  font-size: var(--fs-3xl);
  text-indent: -0.06em;
}

h3 {
  font-size: var(--fs-2xl);
}

h4 {
  font-size: var(--fs-xl);
}

h5 {
  font-size: var(--fs-lg);
}

p {
  font-size: var(--fs-lg);
}

small {
  font-size: var(--fs-xs);
}


/* 
  Links
*/
a {
  color: var(--color-03);
  text-decoration: none;
}

a:hover {
  color: var(--color-03);
  text-decoration: none;
}

.link-social a {
  color: var(--dark);
}

.link-social a:hover {
  color: var(--color-02);
}

