/*
  Define Variables
*/
:root {
    --light: #fdf0d5ff;
    --dark: #003049ff;
    --accent01: #669bbcff;
    --accent02: #c1121fff;
    --accent03: #780000ff;
    
    --fs-xs: 0.75em;   /* ~12px */
    --fs-sm: 0.875em;  /* ~14px */
    --fs-base: 1em;    /* 16px (base) */
    --fs-md: 1.25em;   /* ~20px */
    --fs-lg: 1.563em;  /* ~25px */
    --fs-xl: 1.953em;  /* ~31px */
    --fs-2xl: 2.441em; /* ~39px */
    --fs-3xl: 3.052em; /* ~49px */
    --fs-title: 6em;
}


/* 
  Fonts
*/
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('/fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('/fonts/Quattrocento_Sans/QuattrocentoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('/fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'QuattrocentoSans';
  src: url('/fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Quattrocento';
  src: url('/fonts/Quattrocento/Quattrocento-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quattrocento';
  src: url('/fonts/Quattrocento/Quattrocento-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

body {
  width: 100%;
  min-height: 100%;
  padding: clamp(.5rem, 3vw, 2rem);
  font-family: 'QuattrocentoSans', sans-serif;
  font-size: var(--fs-base);
  color: var(--light);
  background-color: var(--dark);
}

body.home{
  display: grid;
}

*, *::before, *::after {
    box-sizing: border-box;
}


/* 
  Font Sizes
*/
h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

p {
  font-size: var(--fs-md);
}

small {
  font-size: var(--fs-xs);
}


/* 
  Links
*/
a {
  color: var(--accent01);
}

a:hover {
  color: var(--accent02);
}

/*
  Header
*/
.splash-main {
  border: 3px solid var(--light);
  padding: 2rem 9.5vw;
  border-radius: .7rem;
  display: grid;
  align-content: center;
  font-size: var(--fs-title);
}

.nav-bar {
  position:fixed;
  top: 10;
  margin-inline: auto;
  width: 50%;
  height: 48px;
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.glass {
  --border-width: 1px;
  border-radius: 1rem;
  background: hsl(from var(--color-02) h s l / 0.25);
  backdrop-filter: blur(12px);
}

.glass::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(hsl(from var(--color-03) h s l / 0.60), hsl(from var(--color-03) h s l / 0.80)) border-box;
  mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}
