/*
  Body
*/
body.splash-main{
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  height: 100dvh !important;
  padding: clamp(.5rem, 3vw, 2rem) !important;
}

body.splash-main > div,
body.splash-main > div > div {
  display: grid;
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
}



/*
  Header
*/


header.splash-main {
  border: var(--border-width) solid var(--border-color);
  border-radius: .7rem;
  display: grid;
  align-content: center;
  align-self: stretch;
}

.splash-main.home {
  padding: 2rem 9.5vw;
}


/*
  Text
*/

header.splash-main h1 {
  font-size: clamp(1.25em, 10vw, var(--fs-title));
  text-indent: -0.1em;
}

header.splash-main h2 {
  font-size: clamp(1em, 6vw, var(--fs-3xl));
  text-indent: -0.06em;
}

header.splash-main h3 {
  font-size: clamp(0.875em, 5vw, var(--fs-2xl));
}

header.splash-main h4 {
  font-size: clamp(0.75em, 4vw, var(--fs-xl));
}

.link-set {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap:5%;
}

.link-set a {
  color: var(--color-03);
  text-decoration: none;
  text-align: center;
}
